.cell {
    width: 18%;
    height: 150px;
    box-sizing: border-box;

    &.active {
        border: 8px solid #065306;
    }

    .avatar {
        @extend %bg-cover;
        width: 100%;
        height: 100%;
    }
}