.playground {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    
    .player {
        @extend %bg-contain;
        width: 300px;
        height: 450px;
        opacity: 0;
        transform: translateX(-50px);
        transition: .3s ease;

        &.active {
            opacity: 1;
            transform: translateX(0);
        }
        
        img {
            width: 100%;
        }
    }
}