.scene-page {
    background-image: url('https://img5.goodfon.ru/wallpaper/nbig/9/d8/igra-mortal-kombat-mortal-combat-metall-chernyi-fon.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: calc(100vh - 30px);
    padding-top: 30px;

    h1 {
        color: white;
        text-align: center;
        margin-bottom: 50px;
        font-size: 50px;
    }
}