.cell {
    width: 20%;
    height: 200px;
    box-sizing: border-box;

    &.active {
        border: 8px solid #065306;
    }

    .avatar {
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
    }
}